main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  margin: 0 10px;
  height: 25px;
  background-color: lightgreen;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: white;
  width: 65px;
}

.timer-container {
  border: 2px solid black;
  margin-top: 40px;
  border-radius: 25px;
  width: 250px;
  text-align: center;
  padding: 10px;
}

.timer {
  font-size: 2rem;
}

.timer-actions {
  margin-top: 20px;
  text-align: center;
}
